.btn {
    text-decoration: none;
    background: $primary-color;
	color: $white;
    padding: 10px 20px;
    transition: 0.5s ease-in-out;
    display: inline-block;
    border: 1px solid $black;

    &:hover{
        color: $black;
        background: $white;

        span {
            border-bottom-color: $black;
            border-right-color: $black;
        }
    }
}

