.container{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.banner{
    @extend %bg-50-50-cover-no-rep;
    min-height: 750px;
    @extend %flex-colum-center;
    position: relative;
    margin-bottom: 80px;

    @include media("<desktop") {
        margin-bottom: 40px;
    }

    @include media("<tablet") {
        margin-bottom: 15px;
    }

    .container{
        @extend %flex-colum-center;
        padding-bottom: 85px;
        padding-top: 20px;
    }

    .btn-anchor{
        position: absolute;
        bottom: 65px;
        width: 13px;
        height: 13px;
        border-bottom: 2px solid $white;
        border-left: 2px solid $white;
        transform: rotate(-45deg);
        transition: 0.3s ease-in-out;

        &:hover {
            transform: rotate(-45deg) scale(1.4);
        }
    }
}

.pop-item{
    @extend %flex-colum-center;
    margin-bottom: 80px;
    text-align: center;

    @include media("<desktop") {
        margin-bottom: 40px;
    }

    @include media("<tablet") {
        margin-bottom: 15px;
    }

    .row-holder{
        margin: 0;
    }

    .col-3{
        padding: 0;
        margin-bottom: 40px;

        // @include media("<tablet") {
        //     margin-bottom: 20px;
        //     width: 45%;
        // }
    }

    img{
        margin-bottom: 20px;

        @include media("<tablet") {
            margin-bottom: 10px;
        }
    }

    .name-cost-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
        span{
            padding: 0 15px;
        }
    }
}

.banner-about-us{
    @extend %bg-50-50-cover-no-rep;
    min-height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 80px;

    .container{
        text-align: right;
        // временно!!!!!
        width: 1170px;
    }

}

.insta-block{
    margin-bottom: 80px;

    .row-holder{
        gap: 0;
        // временно!!!!!
    }

    .col-6{
        margin: auto 0;
    }

    h3{
        color: $primary-color;
    }

    h4{
        color: $primary-color;
    }

    p{
        margin-bottom: 20px;
        padding-right: 10px;
    }

    .insta-block-img{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

}

.sosial{
    text-decoration: none;
    font-size: 40px;
    transition: 0.3s ease-in-out;

    &:hover{
        color: grey;
    }
}

.why-block{
    background: $secondary-background-color;
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center;

    h3{
        color: $primary-color;
    }

    h4{
        color: $primary-color;
        margin-bottom: 40px;
    }

    .col-4{
        background: $white;
        padding: 50px 40px;
        text-align: left;
    }

    .heading-and-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 80px;
        margin-bottom: 35px;
    }

    span{
        font-size: 43px;
    }
}

.banner-workshope{
    @extend %bg-50-50-cover-no-rep;
    min-height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .container{
        text-align: left;
        // временно!!!!!
        width: 1170px;
    }
}