.container{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.banner{
    @extend %bg-50-50-cover-no-rep;
    min-height: 750px;
    @extend %flex-colum-center;
    position: relative;
    margin-bottom: 80px;

    .container{
        @extend %flex-colum-center;
        padding-bottom: 85px;
        padding-top: 20px;
    }

    .btn-anchor{
        position: absolute;
        bottom: 65px;
        width: 13px;
        height: 13px;
        border-bottom: 2px solid $white;
        border-left: 2px solid $white;
        transform: rotate(-45deg);
        transition: 0.3s ease-in-out;

        &:hover {
            transform: rotate(-45deg) scale(1.4);
        }
    }
}

.pop-item{
    @extend %flex-colum-center;
    margin-bottom: 80px;
    text-align: center;

    .row-holder{
        margin: 0;
    }

    .col-3{
        padding: 0;
        margin-bottom: 40px;
    }

    img{
        margin-bottom: 20px;
    }

    .name-cost-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
        span{
            padding: 0 15px;
        }
    }

    .btn span{
        width: 8px;
        height: 8px;
        display: inline-block;
        position: relative;
        border-bottom: 1px solid $white;
        border-right: 1px solid $white;
        transform: rotate(-45deg);
        position: relative;
        top: -2px;
        transition: 0.3s ease-in-out;
        margin: 0 5px;
    }
}

