@use "sass:math";

.row-holder{
	display: flex;
	flex-flow: row wrap;
  flex-grow: 1;
  gap: $gutter;

  @include media("<desktop") {
    gap: 14px;
  }

  @include media("<tablet") {
    gap: 10px;
  }
}

@for $i from 1 through $columns {
  .col-#{$i} {
   @extend %clearfix;
   width: percentage(math.div(1, $columns) * $i);

  @include media("<tablet") {
   margin-bottom: 20px;
   width: 100%;
 }
}
}

@for $i from 1 through $columns {
  .pull-#{$i} {
   @extend %clearfix;
   right: percentage(math.div(1, $columns) * $i);
   position: relative;

   @include media("<tablet") {
    right: auto;
   }
}
}

@for $i from 1 through $columns {
  .push-#{$i} {
   @extend %clearfix;
   left: percentage(math.div(1, $columns) * $i);
   position: relative;

   @include media("<tablet") {
    left: auto;
   }
}
}

