header{
    margin: 30px 0;

    @include media("<tablet") {
        margin: 15px 0;
    }
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        @include media("<phone") {
            max-width: 120px;
        }
    }
}

.header-list{
    @extend %listreset;
    display: flex;
    gap: 60px;

    @include media("<desktop") {
        gap: 25px;
    }

    @include media("<tablet") {
        display: none;
    }

    a {
        color: $black;
        text-decoration: none;
        padding: 8px 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $primary-color;
            transition: 0.3s ease-in-out;
        }
        
        &:hover::before {
            width: 100%;
        }
    }

    &.selected {
        a::before {
            width: 100%;
        }
    }
}


.search-shop-wrap{
    @extend %listreset;
    display: flex;
    gap: 10px;

    @include media("<tablet") {
        display: none;
    }

    a{
        text-decoration: none;
        padding: 10px;
        position: relative;
        border-radius: 50%;
        transition: 0.3s ease-in-out;

        &:hover{
            color: $white;
            background: $primary-color;
            border-radius: 50%;
        }
    }
}


.nav-opener {
	width: 30px;
	height: 30px;
	position: relative;
	margin: 3px 0 3px 20px;
	display: none;

	@include media("<tablet") {
		display: inline-block;
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: 4px;
		transition: all .2s linear;
		background: $primary-color;
	}

	&:before {
		bottom: 23px;
		box-shadow: 0 10px 0 $primary-color;
	}

	&:after {
		bottom: 3px;
	}

	// .nav-active & {
	// 	&:before,
	// 	&:after {
	// 		bottom: 50%;
	// 	}

	// 	&:before {
	// 		transform: translateY(50%) rotate( -45deg);
	// 		box-shadow: none;
	// 	}

	// 	&:after {
	// 		transform: translateY(50%) rotate(-135deg);
	// 	}
	// }
}