<footer>
    <div class="container">

        <div class="col-4">
            <h3>NEWSLETTER</h3>
            <form action="#">
                <h2>Receive the latest news</h2>
                <input type="email" name="email" placeholder="Your Email" id="email">
                <button type="submit" class="btn secondary">Subscribe now</button>
            </form>
        </div>

        <div class="nav">
            <div class="shop-block">
                <h3>SHOP</h3>
                <ul class="shop-list">
                    <li><a href="#">Plates</a></li>
                    <li><a href="#">Dishes</a></li>
                    <li><a href="#">Textile</a></li>
                    <li><a href="#">For Kitchen</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
            </div>
            
            <div class="menu-block">
                <h3>MENU</h3>
                <ul class="menu-list">
                    <li><a href="#">About Brand</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Workshops</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
        </div>

        <!-- <div class="col-3">
            <div class="shop-block">
                <h3>SHOP</h3>
                <ul class="shop-list">
                    <li><a href="#">Plates</a></li>
                    <li><a href="#">Dishes</a></li>
                    <li><a href="#">Textile</a></li>
                    <li><a href="#">For Kitchen</a></li>
                    <li><a href="#">Accessories</a></li>
                </ul>
            </div>
            
            <div class="menu-block">
                <h3>MENU</h3>
                <ul class="menu-list">
                    <li><a href="#">About Brand</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Workshops</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
        </div> -->

        <!-- <div class="shop-block">
            <h3>SHOP</h3>
            <ul class="shop-list">
                <li><a href="#">Plates</a></li>
                <li><a href="#">Dishes</a></li>
                <li><a href="#">Textile</a></li>
                <li><a href="#">For Kitchen</a></li>
                <li><a href="#">Accessories</a></li>
            </ul>
        </div>
        
        <div class="menu-block">
            <h3>MENU</h3>
            <ul class="menu-list">
                <li><a href="#">About Brand</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Workshops</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div> -->

        <div class="sosial-block">
            <h3>FOLLOW US</h3>
            <ul class="social-list">
                <li><a class="sosial" href="#"><span class="icon-icon-insta"></span></a></li>
                <li><a class="sosial" href="#"><span class="icon-icon-facebook"></span></a></li>
                <li><a class="sosial" href="#"><span class="icon-icon-pinterest"></span></a></li>
                <li><a class="sosial" href="#"><span class="icon-icon-twitter"></span></a></li>
            </ul>
            <p class="copyright-text">Copyright © 2022 Natural Brand <br/> All rights reserved</p>
        </div>

    </div>
</footer>