<header>
	<div class="header-frame">
		<div class="container">
			<div class="header-wrap">
				<div class="logo">
					<a  href="#"><img src="images/main-logo.png" alt="natural-brand"></a>
				</div>
				//= navigation.html
				<div class="search-shop-wrap">
					<ul>
						<li>
							<a href="#" >
								<span class="icon-search"></span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="icon-icon-shop"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- sourseimages/main-logo.png -->
